body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
}

#logo {
    width: 50px;
    height: 50px;
}

#primera {
    width: 150px;
    height: 150px;
}

#segunda {
    width: 150px;
    height: 150px;
}
#tercera {
    width: 150px;
    height: 150px;
}
#cuarta {
    width: 150px;
    height: 150px;
}

.header {
    background-color: #008000;
    color: white;
    text-align: center;
    padding: 20px;
}
.nav {
    background-color: #008000;
    overflow: hidden;
}
.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav a:hover {
    background-color: #006400;
}
.content {
    padding: 20px;
}
.section {
    background-color: #f0f0f0;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.section img {
    max-width: 150px;
    margin-right: 20px;
}
.section:nth-child(even) img {
    order: 2;
    margin-right: 0;
    margin-left: 20px;
}